/**
 * Framework Component: Navs
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0;

  .nav-item {
    a {
      padding: 0.2rem 0.4rem;

      &,
      &:link,
      &:visited {
        text-decoration: none;
        color: $color--gray-dark;
      }

      &:focus,
      &:hover {
        background-color: transparent;
        color: $color--accent-primary;
      }
    }

    &.active {
      & > a {
        &,
        &:link,
        &:visited {
          font-weight: bold;
          color: $color--gray-dark;
        }

        &:focus,
        &:hover {
          color: $color--accent-primary;
        }
      }
    }
  }

  & .nav {
    margin-bottom: 0.4rem;
    margin-left: 0.8rem;
  }
}

/* <> */
