/**
 * Fonts/Icon Fonts
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


/**
 * Google Font: Fira Sans
 *
 * @link  https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900&display=swap
 * @link  https://google-webfonts-helper.herokuapp.com/fonts/fira-sans?subsets=latin
 * =============================================================================
 */

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"),
       url("../fonts/fira-sans/fira-sans-v10-latin-regular.woff2") format("woff2"),
       url("../fonts/fira-sans/fira-sans-v10-latin-regular.woff") format("woff");
}

// @font-face {
//   font-family: "Fira Sans Bold";
//   font-style: normal;
//   font-weight: 700;
//   src: local("Fira Sans Bold"), local("FiraSans-Bold"),
//        url("../fonts/fira-sans/fira-sans-v10-latin-700.woff2") format("woff2"),
//        url("../fonts/fira-sans/fira-sans-v10-latin-700.woff") format("woff");
// }


/**
 * Custom Fonts.
 * Sources located in {THEME}/scratch/fonts directory
 *
 * @link http://fontello.com/
 * =============================================================================
 */
@font-face {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  src: local("Fontello"),
       url("../fonts/fontello/fontello.woff2") format("woff2"),
       url("../fonts/fontello/fontello.woff") format("woff");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1rem;
  font-family: "fontello";
  speak: none;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-aboutme::before {  content: "\e800"; }
.icon-behance::before {  content: "\f1b4"; }
.icon-github::before {   content: "\f09b"; }
.icon-lastfm::before {   content: "\f202"; }
.icon-linkedin::before { content: "\f0e1"; }
.icon-mail::before {     content: "\e801"; }
.icon-twitter::before {  content: "\f099"; }

/* <> */
