/**
 * Variables
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


:root {
//
//   --rtl: false;
//   --container--max: 1400px;
//   --website-max: 2200px;
//
//
//   /**
//    * Fonts
//    * ------------------------------------------------------------------------- *
//    */
//
//   --font-family--base: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
//   --font-family--accent: "Nexa Rust", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
//   --font-family--fallback: "Helvetica Neue", Helvetica, Sans-Serif;
//   --font-family: var(--font-family--base), var(--font-family--fallback);
//
//   --font-family--cjk-zh-hans: var(--font-family--base), "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", var(--font-family--fallback);
//   --font-family--cjk-zh-hant: var(--font-family--base), "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", var(--font-family--fallback);
//   --font-family--cjk-jp: var(--font-family--base), "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, var(--font-family--fallback);
//   --font-family--cjk-ko: var(--font-family--base), "Malgun Gothic", var(--font-family--fallback);
//
//   /** -- Sizes */
//
//   --size--font-base: 16px;
//
//
//
//
//   /**
//    * Colors
//    * ------------------------------------------------------------------------- *
//    */
//
//   /** -- Foreground */
//
//   --color--base: #303742;
//   --color--base-primary: lighten(var(--color--base,) 5%);
//
//   --color--accent-primary: #007c3f;
//   --color--accent-primary-dark: #487528;
//   --color--accent-primary-medium: #7aa225;
//   --color--accent-primary-light: #86bc25;
//
//   --color--accent-secondary: #005a98;
//   --color--accent-secondary-dark: darken(var(--color--accent-secondary), 3%);
//   --color--accent-secondary-light: #019fda;
//   --color--accent-secondary-ultralight: #e1f3fa;
//
//   --color--accent-tertiary: #f7a612;
//   --color--accent-tertiary-dark: #e57526;
//
//   --color--anchor: var(--color--accent-secondary);
//   --color--anchor-dark: darken(var(--color--anchor), 10%);
//   --color--anchor-light: lighten(var(--color--anchor), 10%);
//
//   --color--gray: #a6a6a6;
//   --color--gray-dark: #5a5a5a;
//   --color--gray-light: #d9d9d9;
//   --color--gray-ultralight: #f8f8f8;
//
//   --color--border: lighten(var(--color--base), 65%);
//   --color--border-dark: darken(var(--color--border), 10%);
//   --color--border-light: lighten(var(--color--border), 8%);
//
//   --color--status-ok: #b7ffc0;
//   --color--status-warning: #ffe7aa;
//   --color--status-error: #ffcac8;
//
//
//   /** -- Background */
//
//   --background--primary: lighten(var(--color--base), 75%);
//   --background--primary-dark: darken(var(--background--primary), 3%);
//   --background--primary-light: #fff;
//
//   --background--highlight: #fffab6;
//
//
//
//
//   /**
//    * Sizings
//    * ------------------------------------------------------------------------- *
//    */
//
//   --padding-x: 0.4rem;
//   --padding-x-sm: 0.4rem * 0.75;
//   --padding-x-lg: 0.4rem * 1.5;
//   --padding-y: (1.8rem - 1.5rem) / 2 - 0.05rem;
//   --padding-y-sm: (1.4rem - 1.5rem) / 2 - 0.05rem;
//   --padding-y-lg: (2rem - 1.5rem) / 2 - 0.05rem;
//
//   --width-xs: 180px;
//   --width-sm: 320px;
//   --width-md: 640px;
//   --width-lg: 960px;
//   --width-xl: 1280px;




  /**
   * Debuggin'
   * ------------------------------------------------------------------------- *
   */

  --debug--blue:   rgba(#006cff, 0.2);
  --debug--green:  rgba(#14ff00, 0.2);
  --debug--lime:   rgba(#c0ff00, 0.4);
  --debug--orange: rgba(#ff1a00, 0.2);
  --debug--pink:   rgba(#ff00c9, 0.2);
  --debug--purple: rgba(#ab00ff, 0.2);
  --debug--red:    rgba(#ffcbcb, 0.4);
  --debug--teal:   rgba(#00ffff, 0.2);
  --debug--yellow: rgba(#faffcb, 0.6);
}




/**
 * Media Queries.
 *
 * ===========================================================================
 */

/** Min */

// @media screen and (min-width: 320px) {}

// @media screen and (min-width: 416px) {}

// @media screen and (min-width: 480px) {}

// @media screen and (min-width: 560px) {}

// @media screen and (min-width: 640px) {}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 896px) {}

// @media screen and (min-width: 960px) {}

// @media screen and (min-width: 1024px) {}

// @media screen and (min-width: 1088px) {}

// @media screen and (min-width: 1200px) {}

// @media screen and (min-width: 1280px) {}

// @media screen and (min-width: 1400px) {}

// @media screen and (min-width: 1500px) {}

// @media screen and (min-width: 1600px) {}

// @media screen and (min-width: 1660px) {}

/* <> */
