/**
 * Variables
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


$width--container-max: 1400px;
$width--website-max: 1800px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


/**
 * Fonts
 * ------------------------------------------------------------------------- *
 */

$size--font-base: 20px;

$font-family--base: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family--accent: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family--fallback: "Helvetica Neue", Helvetica, Sans-Serif;
$font-family: $font-family--base, $font-family--fallback;

$font-family--cjk-zh-hans: $font-family--base, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $font-family--fallback;
$font-family--cjk-zh-hant: $font-family--base, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", $font-family--fallback;
$font-family--cjk-jp: $font-family--base, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $font-family--fallback;
$font-family--cjk-ko: $font-family--base, "Malgun Gothic", $font-family--fallback;


/**
 * Colors
 * ------------------------------------------------------------------------- *
 */

$color--primary: #f2eaf7;
$color--secondary: #ded5e3;
// $color--tertiary: #;

$color--anchor: #ff4e1f;

$background--primary: #3d3741;
$background--primary-dark: #29252b;
$background--primary-light: #48414D;

$background--highlight: #fff4b1;


/**
 * Debuggin'
 * ------------------------------------------------------------------------- *
 */

$debug--blue:   rgba(#006cff, 0.2);
$debug--green:  rgba(#14ff00, 0.2);
$debug--lime:   rgba(#c0ff00, 0.4);
$debug--orange: rgba(#ff1a00, 0.2);
$debug--pink:   rgba(#ff00c9, 0.2);
$debug--purple: rgba(#ab00ff, 0.2);
$debug--red:    rgba(#ffcbcb, 0.4);
$debug--teal:   rgba(#00ffff, 0.2);
$debug--yellow: rgba(#faffcb, 0.6);




/**
 * Media Queries.
 *
 * ===========================================================================
 */

/** Min */

// @media screen and (min-width: 320px) {}

// @media screen and (min-width: 416px) {}

// @media screen and (min-width: 480px) {}

// @media screen and (min-width: 560px) {}

// @media screen and (min-width: 640px) {}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 896px) {}

// @media screen and (min-width: 960px) {}

// @media screen and (min-width: 1024px) {}

// @media screen and (min-width: 1088px) {}

// @media screen and (min-width: 1200px) {}

// @media screen and (min-width: 1280px) {}

// @media screen and (min-width: 1400px) {}

// @media screen and (min-width: 1500px) {}

// @media screen and (min-width: 1600px) {}

// @media screen and (min-width: 1660px) {}

/* <> */
