/**
 * Variables
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


$width--container-max: 1400px;
$width--website-max: 2200px;


/**
 * Fonts
 * ------------------------------------------------------------------------- *
 */

$size--font-base: 20px;

$font-family--base: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family--accent: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family--fallback: "Helvetica Neue", Helvetica, Sans-Serif;
$font-family: $font-family--base, $font-family--fallback;

$font-family--cjk-zh-hans: $font-family--base, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $font-family--fallback;
$font-family--cjk-zh-hant: $font-family--base, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", $font-family--fallback;
$font-family--cjk-jp: $font-family--base, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $font-family--fallback;
$font-family--cjk-ko: $font-family--base, "Malgun Gothic", $font-family--fallback;


/**
 * Colors
 * ------------------------------------------------------------------------- *
 */

$color--primary: #ded5e3;
// $color--primary: ;

// $color--accent-primary: #007c3f;
// $color--accent-primary-dark: #487528;
// $color--accent-primary-medium: #7aa225;
// $color--accent-primary-light: #86bc25;

// $color--accent-secondary: #005a98;
// $color--accent-secondary-dark: darken($color--accent-secondary, 3%);
// $color--accent-secondary-light: #019fda;
// $color--accent-secondary-ultralight: #e1f3fa;

// $color--accent-tertiary: #f7a612;
// $color--accent-tertiary-dark: #e57526;

$color--anchor: #ff4e1f;
// $color--anchor-dark: darken($color--anchor, 10%);
// $color--anchor-light: lighten($color--anchor, 10%);

// $color--gray: #a6a6a6;
// $color--gray-dark: #5a5a5a;
// $color--gray-light: #d9d9d9;
// $color--gray-ultralight: #f8f8f8;

// $color--border: lighten($color--base, 65%);
// $color--border-dark: darken($color--border, 10%);
// $color--border-light: lighten($color--border, 8%);

// $color--status-ok: #b7ffc0;
// $color--status-warning: #ffe7aa;
// $color--status-error: #ffcac8;

$background--primary: #3d3741;
$background--primary-dark: #29252b;
$background--primary-light: #9788a1;

$background--highlight: #fff4b1;


/**
 * Debuggin'
 * ------------------------------------------------------------------------- *
 */

$debug--blue:   rgba(#006cff, 0.2);
$debug--green:  rgba(#14ff00, 0.2);
$debug--lime:   rgba(#c0ff00, 0.4);
$debug--orange: rgba(#ff1a00, 0.2);
$debug--pink:   rgba(#ff00c9, 0.2);
$debug--purple: rgba(#ab00ff, 0.2);
$debug--red:    rgba(#ffcbcb, 0.4);
$debug--teal:   rgba(#00ffff, 0.2);
$debug--yellow: rgba(#faffcb, 0.6);




/**
 * Media Queries.
 *
 * ===========================================================================
 */

/** Min */

// @media screen and (min-width: 320px) {}

// @media screen and (min-width: 416px) {}

// @media screen and (min-width: 480px) {}

// @media screen and (min-width: 560px) {}

// @media screen and (min-width: 640px) {}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 896px) {}

// @media screen and (min-width: 960px) {}

// @media screen and (min-width: 1024px) {}

// @media screen and (min-width: 1088px) {}

// @media screen and (min-width: 1200px) {}

// @media screen and (min-width: 1280px) {}

// @media screen and (min-width: 1400px) {}

// @media screen and (min-width: 1500px) {}

// @media screen and (min-width: 1600px) {}

// @media screen and (min-width: 1660px) {}

/* <> */
