@charset "UTF-8";

/**
 * Base + Normalize
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

* {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.33;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
[tabindex="-1"]:focus {
  outline: 0 !important;
}

:focus:not(:focus-visible) {
  outline: none;
}

::selection {
  background-color: $background--highlight;
  color: #000;
}

main {
  display: inline;
}

a,
hr,
img {
  display: inline-block;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  background-color: $background--primary;
  font-style: normal;
  font-weight: 400;
  font-family: $font-family--base;
  font-size: $size--font-base;
  line-height: 1.5;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  max-width: $width--container-max;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font: inherit;
  color: $color--primary;
  cursor: default;

  animation-duration: 0.15s;
  animation-fill-mode: both;
  animation-delay: 0.15s;
  animation-name: fadeIn;
}

img {
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
  object-fit: cover;
}

svg {
  /**
   * Workaround for the SVG overflow bug in IE10/11 is still required.
   *
   * @link  https://github.com/twbs/bootstrap/issues/26878
   */
  overflow: hidden;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-family: $font-family--accent;
}

h2, h3, h4 {
  margin-bottom: 2rem;
}

h3, h4 {
  text-transform: capitalize;
}

h2 {
  font-size: 1.5rem;
  font-family: $font-family--accent;
}

h3 {
  font-size: 1.25rem;
  font-family: $font-family--accent;
}

h4 {
  font-size: 1.15rem;
}

p {
  margin: 0 0 1rem;
}

a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: $color--anchor;
  }
}

strong {
  font-weight: 700;
}

/**
 * Always hide an element with the `hidden` HTML attribute (from PureCSS).
 * Needed for proper display in IE 10-.
 */
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

/* Text meant only for screen readers */
.reader,
.sr-only,
.text-assistive {
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}




/**
 * Media Queries.
 *
 * =============================================================================
 */

/** Min */

@media screen and (min-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.95rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 880px) {
  html {
    background-color: $background--primary;

    /**
     * diagonal stripes.
     */
    background-image:
      repeating-linear-gradient(-45deg, darken($background--primary-dark, 1%) 0 6px, transparent 6px 12px),
      linear-gradient(to right, $background--primary 0% 50%, $background--primary-dark 50% 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 100%, 0 0;
    background-size: 50% 100%, 100% 100%;
  }
}

/* <> */
