@charset "UTF-8";

/**
 * Content
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--primary-image {
  display: flex;
  align-self: end;
  justify-content: center;
  margin-top: 1rem;

  img {
    width: 100%;
    max-width: 525px;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 2px solid #28252b;
    outline: 0.25rem solid #433c47;
    background-color: #312b36;
  }
}

.site--introduction,
.site--content {
  .h-entry {
    &.main {
      a {
        display: inline;
        white-space: break-spaces;

        &,
        &:link,
        &:visited {
          padding: 2px;
        }

        &:active,
        &:focus,
        &:hover {
          text-decoration: underline wavy #000;
          background-color: $background--highlight;
          color: #000;
        }
      }
    }
  }

  hr {
    width: 4rem;
    height: 0.25rem;
    margin: 1rem 0;
    border: 0;
    border-bottom: 0.25rem solid $background--primary-light;
  }
}

// .site--introduction {

// }

// .site--content {
// }




/**
 * Media Queries.
 *
 * --------------------------------------------------------------------------- *
 */

@media screen and (min-width: 880px) {
  .site--primary-image {
    margin-top: 6rem;
  }
}

/* <> */
