@charset "UTF-8";

/**
 * Content
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--primary-image {
  display: flex;
  align-self: end;
  justify-content: center;
  margin-top: 1rem;

  img {
    width: 100%;
    max-width: 525px;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 2px solid #28252b;
    outline: 0.25rem solid #433c47;
    background-color: #312b36;
  }
}

.site--content {
  a {
    display: inline;
    padding: 2px 0 2px 2px;
    border-bottom: 2px solid;
    text-decoration: none;
    white-space: break-spaces;

    .icon-link-ext,
    .icon-mail {
      vertical-align: super;
      font-size: 0.55rem;
    }

    &,
    &:link,
    &:visited {
      border-bottom-color: transparent;

      .icon-link-ext,
      .icon-mail {
        color: #fff;
      }
    }

    &:active,
    &:focus,
    &:hover {
      border-bottom-color: $background--primary-dark;
      background-color: $background--highlight;
      color: #000;

      span {
        text-decoration: underline #000;
      }

      .icon-link-ext,
      .icon-mail {
        color: #000;
      }
    }
  }

  hr {
    width: 25%;
    height: 0.25rem;
    margin: 1rem 37.5% 1.5rem;
    border: 0;
    border-bottom: 0.25rem solid $background--primary-light;
  }
}




/**
 * Media Queries.
 *
 * --------------------------------------------------------------------------- *
 */

/* Min */

@media screen and (min-width: 550px) {
  .site--content {
    hr {
      width: 6rem;
      margin-right: 0;
      margin-left: 0;
    }
  }
}


@media screen and (min-width: 880px) {
  .site--primary-image {
    margin-top: 10rem;

    img {
      box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
    }
  }
}

@media screen and (min-width: 1265px) {
  .site--primary-image {
    justify-content: end;
  }
}

@media screen and (min-width: 1400px) {
  .site--primary-image {
    img {
      transform: rotate(1deg);

      &:hover {
        transform: rotate(0deg);
      }
    }
  }
}

/* <> */
