@charset "UTF-8";

/**
 * Site Footer
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--footer {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  padding-bottom: 2rem;
  background-color: $background--primary-dark;

  .site-credits {
    display: inline-block;
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 0.85rem;
  }

  .nav {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;

    &--title {
      @extend .reader;
    }

    &--ego {
      display: flex;
      flex-flow: row wrap;
      align-content: end;
    }

    a {
      display: inline-block;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;

      &,
      &:link,
      &:visited {
        border-bottom-color: transparent;

        i {
          padding-right: 0.25rem;
          color: #fff;
        }

        // .icon-link-ext,
        // .icon-mail {
        //   color: #fff;
        // }
      }

      &:active,
      &:focus,
      &:hover {
        border-bottom-color: $background--primary-dark;
        // background-color: $background--highlight;
        background-color: $color--anchor;
        color: #000;

        span {
          text-decoration: underline #000;
        }

        i {
          color: #000;
        }

        // .icon-link-ext,
        // .icon-mail {
        //   color: #000;
        // }
      }

      // &,
      // &:link,
      // &:visited {
      //   i {
      //     padding-right: 0.25rem;
      //     color: #fff;
      //   }
      // }

      // &:active,
      // &:focus,
      // &:hover {
      //   background-color: $background--primary-dark;
      //   text-decoration: none;
      //   color: #fff;
      // }
    }
  }




  /**
   * Media Queries.
   *
   * ------------------------------------------------------------------------- *
   */

  @media screen and (min-width: 880px) {
    background-color: transparent;

    .site-credits {
      width: 50%;
      text-align: right;
    }

    .nav--ego {
      justify-content: flex-start;
      max-width: 50%;
      margin: 0 0 0 -0.5rem;
    }
  }

  @media screen and (min-width: 1265px) {
    .nav--ego {
      margin-left: -1rem;
      padding-right: 5%;
    }
  }
}

/* <> */
