@charset "UTF-8";

/**
 * Site Header
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .nameplate {
    width: 10rem;

    a {
      padding: 0.55rem 0.5rem;
    }

    .u-logo {
      max-width: 2rem;
      margin: 0 1rem 0 0;
    }

    .org {
      font-size: 1.25rem;
    }
  }

  .nav--main {
    width: 100%;
  }




  /**
   * Media Queries.
   *
   * ===========================================================================
   */

  /** Min */

  @media screen and (min-width: 411px) {
    .nameplate {
      width: 45%;
    }

    .nav--main {
      width: 55%;
    }
  }
}

/* <> */
