@charset "UTF-8";

/**
 * Site Footer
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--footer {
  background-color: $debug--blue;
}

/* <> */
