@charset "UTF-8";

/**
 * Base Layout
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


body {
  .site--header,
  .site--primary-image,
  .site--content,
  .site--footer {
    width: 100%;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .site--content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;

    .site--header,
    .site--primary-image,
    .site--content,
    .site--footer {
      float: unset;
      width: auto;
    }
  }




  /**
   * Media Queries.
   *
   * ------------------------------------------------------------------------- *
   */

  @media screen and (min-width: 880px) {
    .site--header,
    .site--primary-image,
    .site--content {
      width: 50%;
      padding-right: 7%;
    }

    .site--primary-image {
      float: right;
    }

    @supports (display: grid) {
      grid-template-columns: [col] 25% [col] 25% [col] 25% [col] 25%;
      grid-template-rows: [row] auto [row] auto [row] auto;

      .site--header,
      .site--primary-image,
      .site--content,
      .site--footer {
        width: auto;
      }

      .site--header {
        grid-column: col 1 / span 2;
      }

      .site--primary-image {
        grid-column: col 3 / span 2;
        grid-row: row / span 3;
        align-self: start;
        float: unset;
      }

      .site--content {
        grid-column: col 1 / span 2;
      }

      .site--footer {
        grid-column: col 1 / span 4;
        grid-row: row 3;
      }
    }
  }
}

/* <> */
