@charset "UTF-8";

/**
 * Navigation
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.nav {
  &--title {
    @extend .reader;
  }

  &--main,
  &--ego {
    display: flex;
    flex-flow: row wrap;
  }

  &--main {
    justify-content: center;
  }

  &--ego {
    justify-content: space-around;
    max-width: 24rem;
    margin-right: auto;
    margin-left: auto;
  }

  a {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 1.25rem 0 0.75rem;

    // &:not(:first-of-type) {
    //   margin-left: 0.5rem;
    // }

    // &:not(:last-of-type) {
    //   margin-right: 0.5rem;
    // }

    &,
    &:link,
    &:visited {
      i {
        padding-right: 0.25rem;
        color: #fff;
      }
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline wavy;
      color: #fff;
    }
  }




  /**
   * Media Queries.
   *
   * ------------------------------------------------------------------------- *
   */

  /** Min */

  @media screen and (min-width: 411px) {
    &--main {
      justify-content: end;
    }
  }

  @media screen and (min-width: 880px) {
    &--ego {
      justify-content: flex-start;
      max-width: 100%;
      margin: 0;
      padding: 1rem 0 0;
    }
  }
}

/* <> */
