@charset "UTF-8";

/**
 * Navigation
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.nav {
  &--title {
    @extend .reader;
  }

  &--main,
  &--ego {
    display: flex;
    flex-flow: row wrap;
  }

  &--main {
    justify-content: flex-end;
  }

  &--ego {
    justify-content: space-around;
    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
  }

  a {
    display: inline-block;
    padding: 1.25rem 1rem 0.75rem;
  }
}

/* <> */
