/**
 * Framework Component: Dropdown
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-menu {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem;
    max-height: 75vh;
    margin: -1px 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;

    -webkit-animation: slideDown 0.15s ease 1;
            animation: slideDown 0.15s ease 1;
  }
}

/* <> */
