/**
 * Framework Component: Toasts
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.alert {
  display: block;
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem 0.8rem 0.8rem 3rem;
  border: 2px solid $color--base;
  border-radius: 0.1rem;
  background-position: 1rem;
  background-repeat: no-repeat;
  color: #fff;

  @include messageVariant($color--base);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 2rem;
  }

  a {
    &,
    &:link,
    &:visited {
      text-decoration: underline;
      color: #fff;
    }

    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: 0.75;
    }
  }

  .btn-clear {
    margin: 0.1rem;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0 0 0 1em;
    padding: 0;

    li {
      list-style-image: none;
    }
  }

  .close {
    float: right;
    border: 0;
    background-color: transparent;
    font-weight: 600;

    &:empty {
      display: none;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      color: #000;
      cursor: pointer;
    }
  }

  &-primary {
    @include messageVariant($color--accent-primary);

    a {
      color: darken($color--accent-primary, 85%);
    }
  }

  &-ok,
  &-status,
  &-success {
    @include messageVariant($color--status-ok);

    background-image: url("/core/misc/icons/73b355/check.svg");

    a {
      color: darken($color--status-ok, 85%);
    }
  }

  &-warning {
    @include messageVariant($color--status-warning);

    background-image: url("/core/misc/icons/e29700/warning.svg");

    a {
      color: darken($color--status-warning, 85%);
    }
  }

  &-danger,
  &-error {
    @include messageVariant($color--status-error);

    background-image: url("/core/misc/icons/e32700/error.svg");

    a {
      color: darken($color--status-error, 85%);
    }
  }
}

/* <> */
