/**
 * Framework Component: Tabs
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.tab {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.2rem 0 (0.2rem - 0.05rem) 0;
  border-bottom: 0.05rem solid var(--color--border);

  .tab-item {
    margin-top: 0;

    a {
      display: block;
      margin: 0 0.4rem 0 0;
      padding: 0.4rem 0.2rem 0.4rem -0.1rem 0.2rem;
      border-bottom: 0.1rem solid transparent;

      &,
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
      }

      &:focus,
      &:hover {
        color: var(--color--anchor);
      }
    }

    &.active a,
    a.active {
      border-bottom-color: var(--color--accent-primary);
      color: var(--color--anchor);
    }

    &.tab-action {
      flex: 1 0 auto;
      text-align: right;
    }

    .btn-clear {
      margin-top: -0.2rem;
    }
  }

  &.tab-block {
    .tab-item {
      flex: 1 0 0;
      text-align: center;

      a {
        margin: 0;
      }

      .badge {
        &[data-badge]::after {
          position: absolute;
          top: 0.1rem;
          right: 0.1rem;

          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.tab-block) {
    .badge {
      padding-right: 0;
    }
  }
}

/* <> */
