/**
 * Framework Mixin: Shadow
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


/**
 * Label base style.
 */
@mixin labelBase()
{
  padding: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  line-height: 1.25;
}


/**
 * @param  {Color}  $color:    #fff
 * @param  {Color}  $background--primary: $color--accent-primary
 */
@mixin labelVariant($color: #fff, $background--primary: $color--accent-primary)
{
  background-color: $background--primary;
  color: $color;
}

/* <> */
