@charset "UTF-8";

/**
 * Base Layout
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


body {
  @include display-grid;
  grid-template-columns: 1fr;
  grid-gap: 0;

  .site--header,
  .site--primary-image,
  .site--content,
  .projects,
  .site--footer {
    padding-right: 5%;
    padding-left: 5%;
  }

  .site--content,
  .projects {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }




  /**
   * Media Queries.
   *
   * ------------------------------------------------------------------------- *
   */

  @media screen and (min-width: 880px) {
    grid-template-columns: [col] 25% [col] 25% [col] 25% [col] 25%;
    grid-template-rows: [row] auto [row] auto [row] auto [row] auto;

    .site--header,
    .site--primary-image,
    .site--content,
    .projects {
      padding-right: 7%;
    }

    .site--footer {
      padding-right: 3%;
      padding-left: 2%;
    }

    .site--header {
      grid-column: col 1 / span 2;
    }

    .site--primary-image {
      grid-column: col 3 / span 2;
      grid-row: row / span 4;
      align-self: start;
    }

    .site--content {
      grid-column: col 1 / span 2;
    }

    .projects {
      grid-column: col 1 / span 4;
      grid-row: row 3;
    }

    .site--footer {
      grid-column: col 1 / span 4;
      grid-row: row 4;
    }
  }
}

/* <> */
