@charset "UTF-8";

/**
 * Site Footer
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--footer {
  // background-color: $debug--blue;

  .site-credits {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .site-credits {
    text-align: center;
    font-size: 0.85rem;
  }




  /**
   * Media Queries.
   *
   * ------------------------------------------------------------------------- *
   */

  @media screen and (min-width: 880px) {
    .site-credits {
      text-align: left;
    }
  }
}

/* <> */
