/**
 * Framework Mixin: Text Ellipsis
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


@mixin textEllipsis()
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* <> */
