/**
 * Framework Global: Base
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


::selection {
  background-color: #e1ff39;
  color: #000;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  color: var(--color--base-primary);
  cursor: default;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  background-color: #fff;

  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;

  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;

  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

/* Text meant only for screen readers */
.reader,
.sr-only,
.text-assistive {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;

  /**
   * Warning: This property is deprecated.
   *
   * @link  https://developer.mozilla.org/en-US/docs/Web/CSS/clip
   * @link  https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
   */
  clip: rect(0 0 0 0);
  /* -- */

  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

/* <> */
