{
  "rules": {
    "function-url-quotes": "always",
    "indentation": 2,
    "linebreaks": "unix",
    "max-empty-lines": 4,
    "no-empty-first-line": true,
    "number-leading-zero": "always",
    "string-quotes": "double"
  }
}
