/**
 * Fonts/Icon Fonts
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


/**
 * Google Font: Fira Sans
 *
 * @link  https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900&display=swap
 * @link  https://google-webfonts-helper.herokuapp.com/fonts/fira-sans?subsets=latin
 * =============================================================================
 */

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"),
    url("../fonts/fira-sans/fira-sans-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/fira-sans/fira-sans-v10-latin-regular.woff") format("woff");
}

/*@font-face {
  font-family: "Fira Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"),
    url("../fonts/fira-sans/fira-sans-v10-latin-700.woff2") format("woff2"),
    url("../fonts/fira-sans/fira-sans-v10-latin-700.woff") format("woff");
}*/

/* <> */
