@charset "UTF-8";

/**
 * Site Header
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2022 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.site--header {
  text-align: center;

  .nameplate {
    margin-right: auto;
    margin-left: auto;

    .u-url {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0 1rem;
      padding: 0.55rem 0.5rem;

      &:active,
      &:focus,
      &:hover {
        text-shadow: 0 0 3px rgba(0, 0, 0, 1);
        color: #fff;
      }
    }

    .u-logo {
      width: 2rem;
    }

    /*.org {
      font-size: 1.25rem;
    }*/
  }

  .nav--main {
    width: 100%;
  }




  /**
   * Media Queries.
   *
   * ===========================================================================
   */

  /** Min */

  @media screen and (min-width: 411px) {
    text-align: left;

    .nameplate {
      width: 47%;
      margin: 0;
    }

    .nav--main {
      width: 53%;
    }
  }

  @media screen and (min-width: 880px) {
    .nav--main {
      margin-right: -3%;
    }
  }
}

/* <> */
