/**
 * Framework Elements: Tables
 *
 * @category   Stylesheet
 * @package    JDMLABS
 * @author     Jason D. Moss <jason@jdmlabs.com>
 * @copyright  2005-2019 Jason D. Moss. All rights freely given.
 * @link       https://www.jdmlabs.com/
 */


.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  @if $rtl == true {
    text-align: right;
  } @else {
    text-align: left;
  }

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        background-color: $background--primary;
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          background-color: $background--primary-dark;
        }
      }
    }
  }

  &.table-hover {
    tbody {
      tr {
        &:hover {
          background-color: $background--primary-dark;
        }
      }
    }
  }

  /**
   * Scollable tables.
   */
  &.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: 0.75rem;
    white-space: nowrap;
  }

  td,
  th {
    padding: 0.6rem 0.4rem;
    border-bottom: 0.05rem solid $color--border;
  }

  th {
    border-bottom-width: 0.1rem;
  }
}
